html{
    font-size: 62.5%; /*  1000%=16px * 65.5%=10px * 10px=1rem */
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.logo{
    display: flex;
    justify-content: center;
    padding: 2rem;
}

body{
    font: 1.6rem Helvetica;
    height: 100%;
    margin: 0;

}

.navbar{
    position: sticky;
    top: 0;
    background-color: black;
    padding: 1.5rem;
}

.fa-home{
    font-size: 2rem;
}

.nav-item{
    padding: 1rem;
    align-items: center;
	
    
}

.dropdown-item{
    display: flex;
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
}

.slider-text{
	padding: 4rem;
	font-size: 3rem;
	font-weight: bold;
	text-align: center;
}




.brand a{
    color: yellow;
    font-size: 2.5rem;
    font-weight: bold;
    text-decoration: none;
    

}


.video{
	display: flex;
	padding: 4rem;
	display: flex;
}

/*product slider*/

.container{
	margin-top: 5rem;
}
.container p{
	font-size: 3rem;
	align-content: center;
	justify-content: center;
	position: center;
}
.pic{
	display: flex;
	
	padding: 4rem;
}

.blog .carousel-indicators {
	left: 0;
	top: auto;
    bottom: -40px;

}

/* The colour of the indicators */

.blog .carousel-indicators li {
    background: #a3a3a3;
    border-radius: 50%;
    width: 8px;
    height: 8px;
}

.blog .carousel-indicators .active {
background: #707070;
}


/*footer start*/


.fooetr-main {
	max-height: 550px;;
	background-color: #292c2f;
	color: white;
	font-size: 38pt;
	text-align: center;
	line-height: 550px;
}
footer{
	position: flex;
	bottom: 0;
}
.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
 
	padding: 55px 50px;
	margin-top: 20px;
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}
 
.footer-distributed .footer-left{
	width: 40%;
}
 
.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}
 
.footer-distributed h3 span{
	color:  #5383d3;
}
 
 
.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}
 
.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}
 
.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
 
 
.footer-distributed .footer-center{
	width: 35%;
}
 
.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
 
.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}
 
.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}
 
.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
 
.footer-distributed .footer-center p a{
	color: white;
	text-decoration: none;;
}
 
.footer-distributed .footer-right{
	width: 20%;
}
 
.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
 
.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}
 
.footer-distributed .footer-icons{
	margin-top: 25px;
}
 
.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
 
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
 
	margin-right: 3px;
	margin-bottom: 5px;
}
.payment{
	
	font-size: 50px;
	text-align: center;
	vertical-align: middle;
 
	
}
 
 
@media (max-width: 880px) {
 
	.footer-distributed{
		font: bold 14px sans-serif;
	
	}
 
	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
 
	.footer-distributed .footer-center i{
		margin-left: 0;
	}
	.footer-main {
		line-height: normal;
		font-size: auto;
	}
 
}



/*   home screen */

.products{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
.products li{
    list-style-type: none;
    padding: 0;
    flex: o 1 34rem;
    margin: 1rem;
    height: 50rem;
    border-bottom: .1rem #c0c0c0 solid;

}
.product{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.product-name{
    font-size: 2rem;
    font-weight: bold;

}

.product-brabd{
    font-size: 1.2rem;
    color: #808080;
}
.product-price{
    font-size: 2rem;
    font-weight: bold;
}

.product-image{
    max-width: 34rem;
    max-height: 34rem;
}

.product-rating{
    margin-bottom: 1rem;
}


