*
{
  margin: 0;
}

#nav-bar
{
    position : sticky;
    padding: 0 10px;

}

.navbar-brand img
{
    height: 40px;
    padding-left: 10px;
}

.navbar-nav a
{
    float: right;
    text-align: left;
}

#nav-bar ul li a:hover
{
    color: rgb(234, 243, 238);
}

.navbar
{
    background: #fff;
}

.navbar-toggler
{
    border: none!important;
}
.nav-link
{
    color: #555;
    font-weight: 600;
    font-size: 14px;
}

.nav-item
{
    padding: 0 10px;
}
.form-inline
{
    padding: 0 35px;
}
.col-md-6
{
    border: 1px solid lightgrey;
    height: 250px;
    padding:none;
    margin:none;
    

}
.col-md-6 video
{
    margin: 0;
    padding:0;
    height: 500px;
    width: 1190px;

    
}
.col-md-6:hover
{
    background: url("Unknown-3.jpg") no-repeat;

}

.col-md-3
{
    border: 1px solid lightgrey;
    height: 250px;
    padding:none;
    margin:none;
    
}
.col-md-3:hover
{
    background: url("Unknown-3.jpg") no-repeat;
    
}

#body
{
    padding:10px;
}


/*--------login page css----------*/

